In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df=pd.read_csv('online.csv')

In [7]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [9]:
x = df.drop(['Profit'],axis=1)

In [11]:
x

    Marketing Spend  Administration  Transport     Area
0         114523.61       136897.80  471784.10    Dhaka
1         162597.70       151377.59  443898.53      Ctg
2         153441.51       101145.55  407934.54  Rangpur
3         144372.41       118671.85  383199.62    Dhaka
4         142107.34        91391.77  366168.42  Rangpur
5         131876.90        99814.71  362861.36    Dhaka
6         134615.46       147198.87  127716.82      Ctg
7         130298.13       145530.06  323876.68  Rangpur
8         120542.52       148718.95  311613.29    Dhaka
9         123334.88       108679.17  304981.62      Ctg
10        101913.08       110594.11  229160.95  Rangpur
11        100671.96        91790.61  249744.55      Ctg
12         93863.75       127320.38  249839.44  Rangpur
13         91992.39       135495.07  252664.93      Ctg
14        119943.24       156547.42  256512.92  Rangpur
15        165349.20       122616.84  261776.23    Dhaka
16         78013.11       121597.55  264346.06      Ctg
17         94657.16       145077.58  282574.31    Dhaka
18         91749.16       114175.79  294919.57  Rangpur
19         86419.70       153514.11       0.00    Dhaka
20         76253.86       113867.30  298664.47      Ctg
21         78389.47       153773.43  299737.29    Dhaka
22         73994.56       122782.75  303319.26  Rangpur
23         67532.53       105751.03  304768.73  Rangpur
24         77044.01        99281.34  140574.81    Dhaka
25         64664.71       139553.16  137962.62      Ctg
26         75328.87       144135.98  134050.07  Rangpur
27         72107.60       127864.55  353183.81    Dhaka
28         66051.52       182645.56  118148.20  Rangpur
29         65605.48       153032.06  107138.38    Dhaka
30         61994.48       115641.28   91131.24  Rangpur
31         61136.38       152701.92   88218.23    Dhaka
32         63408.86       129219.61   46085.25      Ctg
33         55493.95       103057.49  214634.81  Rangpur
34         46426.07       157693.92  210797.67      Ctg
35         46014.02        85047.44  205517.64    Dhaka
36         28663.76       127056.21  201126.82  Rangpur
37         44069.95        51283.14  197029.42      Ctg
38         20229.59        65947.93  185265.10    Dhaka
39         38558.51        82982.09  174999.30      Ctg
40         28754.33       118546.05  172795.67      Ctg
41         27892.92        84710.77  164470.71  Rangpur
42         23640.93        96189.63  148001.11      Ctg
43         15505.73       127382.30   35534.17    Dhaka
44         22177.74       154806.14   28334.72      Ctg
45          1000.23       124153.04    1903.93    Dhaka
46          1315.46       115816.21  297114.46  Rangpur
47             0.00       135426.92       0.00      Ctg
48           542.05        51743.15       0.00    Dhaka
49             0.00       116983.80   45173.06      Ctg

In [13]:
y=df['Profit']

In [15]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [17]:
df.shape

(50, 5)

In [19]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [38]:
x.col

Index(['Marketing Spend', 'Administration', 'Transport', 'Dhaka', 'Rangpur',
       'Dhaka', 'Rangpur'],
      dtype='object')

In [39]:
city

    Dhaka  Rangpur
0    True    False
1   False    False
2   False     True
3    True    False
4   False     True
5    True    False
6   False    False
7   False     True
8    True    False
9   False    False
10  False     True
11  False    False
12  False     True
13  False    False
14  False     True
15   True    False
16  False    False
17   True    False
18  False     True
19   True    False
20  False    False
21   True    False
22  False     True
23  False     True
24   True    False
25  False    False
26  False     True
27   True    False
28  False     True
29   True    False
30  False     True
31   True    False
32  False    False
33  False     True
34  False    False
35   True    False
36  False     True
37  False    False
38   True    False
39  False    False
40  False    False
41  False     True
42  False    False
43   True    False
44  False    False
45   True    False
46  False     True
47  False    False
48   True    False
49  False    False

In [40]:
#concatation
x = pd.concat([x,city],axis=1)

In [41]:
x

,Marketing Spend,Administration,Transport,Dhaka,Rangpur,Dhaka,Rangpur,Dhaka,Rangpur
0,114523.61,136897.80,471784.10,True,False,True,False,True,False
1,162597.70,151377.59,443898.53,False,False,False,False,False,False
2,153441.51,101145.55,407934.54,False,True,False,True,False,True
3,144372.41,118671.85,383199.62,True,False,True,False,True,False
4,142107.34,91391.77,366168.42,False,True,False,True,False,True
5,131876.90,99814.71,362861.36,True,False,True,False,True,False
6,134615.46,147198.87,127716.82,False,False,False,False,False,False
7,130298.13,145530.06,323876.68,False,True,False,True,False,True
8,120542.52,148718.95,311613.29,True,False,True,False,True,False
9,123334.88,108679.17,304981.62,False,False,False,False,False,False
10,101913.08,110594.11,229160.95,False,True,False,True,False,True
11,100671.96,91790.61,249744.55,False,False,False,False,False,False
12,93863.75,127320.38,249839.44,False,True,False,True,False,True
13,91992.39,135495.07,252664.93,False,False,False,False,False,False
14,119943.24,156547.42,256512.92,False,True,False,True,False,True
15,165349.20,122616.84,261776.23,True,False,True,False,True,False
16,78013.11,121597.55,264346.06,False,False,False,False,False,False
17,94657.16,145077.58,282574.31,True,False,True,False,True,False
18,91749.16,114175.79,294919.57,False,True,False,True,False,True
19,86419.70,153514.11,0.00,True,False,True,False,True,False
20,76253.86,113867.30,298664.47,False,False,False,False,False,False
21,78389.47,153773.43,299737.29,True,False,True,False,True,False
22,73994.56,122782.75,303319.26,False,True,False,True,False,True
23,67532.53,105751.03,304768.73,False,True,False,True,False,True
24,77044.01,99281.34,140574.81,True,False,True,False,True,False
25,64664.71,139553.16,137962.62,False,False,False,False,False,False
26,75328.87,144135.98,134050.07,False,True,False,True,False,True
27,72107.60,127864.55,353183.81,True,False,True,False,True,False
28,66051.52,182645.56,118148.20,False,True,False,True,False,True
29,65605.48,153032.06,107138.38,True,False,True,False,True,False
30,61994.48,115641.28,91131.24,False,True,False,True,False,True
31,61136.38,152701.92,88218.23,True,False,True,False,True,False
32,63408.86,129219.61,46085.25,False,False,False,False,False,False
33,55493.95,103057.49,214634.81,False,True,False,True,False,True
34,46426.07,157693.92,210797.67,False,False,False,False,False,False
35,46014.02,85047.44,205517.64,True,False,True,False,True,False
36,28663.76,127056.21,201126.82,False,True,False,True,False,True
37,44069.95,51283.14,197029.42,False,False,False,False,False,False
38,20229.59,65947.93,185265.10,True,False,True,False,True,False
39,38558.51,82982.09,174999.30,False,False,False,False,False,False
40,28754.33,118546.05,172795.67,False,False,False,False,False,False
41,27892.92,84710.77,164470.71,False,True,False,True,False,True
42,23640.93,96189.63,148001.11,False,False,False,False,False,False
43,15505.73,127382.30,35534.17,True,False,True,False,True,False
44,22177.74,154806.14,28334.72,False,False,False,False,False,False
45,1000.23,124153.04,1903.93,True,False,True,False,True,False
46,1315.46,115816.21,297114.46,False,True,False,True,False,True
47,0.00,135426.92,0.00,False,False,False,False,False,False
48,542.05,51743.15,0.00,True,False,True,False,True,False
49,0.00,116983.80,45173.06,False,False,False,False,False,False

In [43]:
from sklearn.model_selection import train_test_split

In [45]:
xtrain, xtest, ytrain , ytest = train_test_split(x,y , test_size=0.25 , random_state=0)

In [48]:
from sklearn.linear_model import LinearRegression

In [50]:
regressor = LinearRegression()

In [52]:
regressor.fit(xtrain, ytrain)

LinearRegression()

In [57]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
33     96778.92
35     96479.51
26    105733.54
Name: Profit, dtype: float64

In [58]:
pred = regressor.predict(xtest)

In [61]:
pred

array([103501.08252967, 128011.28068536, 126695.43891075,  70573.91718714,
       173381.96874172, 124238.07860906,  69298.09250209,  98399.41936931,
       116419.14808652, 161430.9813474 ,  94740.73303042,  89920.22800446,
       105956.86065363])

In [63]:
df=pd.DataFrame(pred)

In [65]:
df

                0
0   103501.082530
1   128011.280685
2   126695.438911
3    70573.917187
4   173381.968742
5   124238.078609
6    69298.092502
7    98399.419369
8   116419.148087
9   161430.981347
10   94740.733030
11   89920.228004
12  105956.860654

R2 SCORE

In [68]:
from sklearn.metrics import r2_score

In [70]:
score=r2_score (ytest,pred)

In [72]:
score

0.8840978623817414